body 
{
	animation-name: backgroundColorPalette;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}

@keyframes backgroundColorPalette 
{
	0% 
	{
		background: #F72585;
	}

	25%
       	{
		background: #3F37C9;
	}

	50% 
	{
		background: #4CC9F0;
	}

	75% 
	{
		background: #D8BBFF;
	}

	100% 
	{
		background: #3C096C;
	}
}

ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
}
